app:
  name: skeltun

# example; database configuration.
database:
  pgsql:
    is_active: true
    host: localhost
    port: 5432
    username: test
    password: test
    db_name: test
    max_pool_size: 10
    sslmode: disable
  mysql:
    is_active: false
    host: localhost
    port: 3366
    username: test
    password: test
    db_name: test
    max_open_conns: 2
    max_idle_conns: 2
    conn_max_lifetime: 5
  redis:
    password: test
    max_active: 5
    max_idle: 5
    wait: true
    port: 6379
    hosts: redis://:test@redis:6379/0

# example; server configuration.
server:
  addr: :3000
  read_timeout: 5
  write_timeout: 10
  idle_timeout: 5

# example; onesignal configuration.
onesignal:
  api:
    key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    app_id: xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  uri:
    create: https://onesignal.com/api/v1/notifications
