# database configuration.
database:
  pgsql:
    is_active: true
    host: localhost
    port: 5432
    username: test
    password: test
    db_name: test
    max_pool_size: 10
    sslmode: disable
  mysql:
    is_active: false
    host: localhost
    port: 3366
    username: test
    password: test
    db_name: test
    max_open_conns: 2
    max_idle_conns: 2
    conn_max_lifetime: 5

# server configuration.
server:
  addr: :3000
  read_timeout: 5
  write_timeout: 10
  idle_timeout: 5
